<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="2.5.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="FubarCoder.RestSharp.Portable" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="4.0.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="4.0.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="FubarCoder.RestSharp.Portable.OAuth" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="NUnit" version="3.5.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="1.2.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="portable45-net45+win8+wp8" />
  <package id="yelp-sharp" version="1.0.1" targetFramework="portable45-net45+win8+wp8" />
</packages>